
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  height: 100%;
}
.controlUI {
  margin-bottom: 22px;
  text-align: center;
}
.controlText {
  color: rgb(25,25,25);
  font-family: Roboto,Arial,sans-serif;
  font-size: 12px;
  padding-left: 5px;
  padding-right: 5px;
}

.text-orientation-vertical{
  margin-left: 10px;
  transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.table-rounded{
  /*border: 1px solid;*/
  padding: 10px;
  border: 0px solid;
  background: white;
  border-top-right-radius: 5em;
  border-top-left-radius: 5em;
  border-bottom-right-radius: 5em;
  border-bottom-left-radius: 5em;
  margin-top: 10px;
  margin-bottom: 10px;
}
