<table height="500" width="150">
  <tr>
      <td height="50%" width="50%" valign="center" align="right">
        <button class="btn btn-primary text-orientation-vertical">Categories</button>
      </td>
      <td height="50%" valign="center" width="50%" align="left">
        <table height="100%" class="table-rounded">
          <tr>
            <td height="10%">
            </td>
          </tr>
          <tr>
            <td height="10%">
              <span class="fa-stack fa-lg">
                <i class="fa fa-comment-o fa-stack-2x"></i>
                <i class="fa fa-phone fa-stack-1x"></i>
              </span
            </td>
          </tr>
          <tr>
            <td height="10%">
              <span class="fa-stack fa-lg">
                <i class="fa fa-comment-o fa-stack-2x"></i>
                <i class="fa fa-phone fa-stack-1x"></i>
              </span
            </td>
          </tr>
          <tr>
            <td height="10%">
              <span class="fa-stack fa-lg">
                <i class="fa fa-comment-o fa-stack-2x"></i>
                <i class="fa fa-phone fa-stack-1x"></i>
              </span
            </td>
          </tr>
          <tr>
            <td height="10%">
              <span class="fa-stack fa-lg">
                <i class="fa fa-comment-o fa-stack-2x"></i>
                <i class="fa fa-phone fa-stack-1x"></i>
              </span
            </td>
          </tr>
          <tr>
            <td height="10%">
              <span class="fa-stack fa-lg">
                <i class="fa fa-comment-o fa-stack-2x"></i>
                <i class="fa fa-phone fa-stack-1x"></i>
              </span
            </td>
          </tr>
          <tr>
            <td height="10%">

            </td>
          </tr>
        </table>
      </td>
  </tr>
  <tr>
    <td height="50%" valign="center" width="50%" align="right">
      <button class="btn btn-primary text-orientation-vertical">Deals</button>
    </td>
    <td height="50%" valign="center" width="50%" align="left">
        <table height="100%" class="table-rounded">
          <tr>
            <td height="20%">
              <span class="fa-stack fa-lg">
                <i class="fa fa-comment-o fa-stack-2x"></i>
                <i class="fa fa-phone fa-stack-1x"></i>
              </span
            </td>
          </tr>
          <tr>
            <td height="20%">
              <span class="fa-stack fa-lg">
                <i class="fa fa-comment-o fa-stack-2x"></i>
                <i class="fa fa-phone fa-stack-1x"></i>
              </span
            </td>
          </tr>
          <tr>
            <td height="20%">
              <span class="fa-stack fa-lg">
                <i class="fa fa-comment-o fa-stack-2x"></i>
                <i class="fa fa-phone fa-stack-1x"></i>
              </span
            </td>
          </tr>
          <tr>
            <td height="20%">
              <span class="fa-stack fa-lg">
                <i class="fa fa-comment-o fa-stack-2x"></i>
                <i class="fa fa-phone fa-stack-1x"></i>
              </span
            </td>
          </tr>
          <tr>
            <td height="20%">
              <span class="fa-stack fa-lg">
                <i class="fa fa-comment-o fa-stack-2x"></i>
                <i class="fa fa-phone fa-stack-1x"></i>
              </span
            </td>
          </tr>
        </table>
    </td>
  </tr>
</table>
